/* Font */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Vidaloka&display=swap');

/* Tailwind CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* font */
@layer base {
    body {
        font-family: "Nunito", sans-serif;
    }
}

@layer components {
    .card {
        @apply flex flex-col bg-light;
        height: 450px;
        
    }
}

/* effect */

@layer utilities {
    .btn-pressed {
        @apply transform transition-transform duration-150 
                hover:translate-y-1 hover:shadow-inner;
    }
}

/* layout */

@layer utilities {
    .grid-auto-fill50 {
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    }
  }


.error {
    @apply text-red-500 text-sm mt-1
}

.success {
    @apply text-green-500 text-sm mt-1
}